<link id="fa-stylesheet" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@latest/css/all.min.css">

<footer class="site-footer" role="contentinfo">
    {%- include footer.html -%}
    <div class="custom-footer">
        <strong>Navigation</strong>
        <ul>
            <li><a href="/#cv">CV</a></li>
            <li><a href="/#portfolio">Design Portfolio</a></li>
            <li><a href="/contact.html">Contact</a></li>
        </ul>
        <div class="footer-copyright">
            © 2025 Santiago Flores. All rights reserved.
        </div>
    </div>
</footer>
